@import ('../../node_modules/normalize.css/normalize.css');
@import './common'

body 
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif


.box 
    width 10rem
    font-dpr(14)
    mutiple-text-overflow(2)

.icon-arrow 
    width pxrem(64)
    height pxrem(64)
    background url(../images/img_03.png) no-repeat center center
    background-size pxrem(48) pxrem(48)
    transition-duration:300ms
    &.on 
        transform:rotate(90deg)
.header 
	text-align center
	font-size .75rem

.copy 
	text-align right
	line-height 1rem
	padding-right 1rem
	color blue